body {
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-face-color: #FFFFFF; 
	scrollbar-3dlight-color: #CCCCCC; 
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #CCCCCC;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #CCCCCC;
}